 ## http -> https
RewriteCond %{HTTPS} off
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L,NE,QSA]

RewriteEngine On
RewriteBase /
RewriteRule ^index/article/([0-9]+)/([A-Za-z0-9_-]+) index.php?id_article=$1&name=$2 [NC,L]
RewriteRule ^index/categorie/([0-9]+)/([A-Za-z0-9_-]+) index.php?id_categorie=$1&name=$2 [NC,L]
